[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-django = "*"
gunicorn = "*"
django = "*"
requests = "*"
django-s3-folder-storage = "*"
python-decouple = "*"
dj-database-url = "*"
collectfast = "*"

[dev-packages]

[requires]
python_version = "3.9"
