{% extends 'previsao/base.html' %}
{% block conteudo %}
<br>
<div class="container">
<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <form method="get" action="{% url 'busca' %}">
            <div class="card mb-3 font size=-1">
                <div class="card-header" style="font-size: 14px"><b>Nome da cidade:</b></div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control"
                               type="search" value="{{request.GET.cidade}}"
                               placeholder="Digite o nome da cidade"
                               name="cidade">
                    </div>
                    {% if messages %}
                    <br>
                    {% for message in messages %}
                    <div class="alert {{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
    <div class="col-1"></div>
</div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-3">
        <div class="col-sm">
            <h6><span class="badge bg-warning text-dark">TEMPERATURA</span></h6>
            <h1><span class="badge bg-warning text-dark" style="font-size: 26px">{{temp}}</span></h1>
        </div>
    </div>
    <div class="col-3">
        <div class="col-sm">
            <img src="{{icon}}">
        </div>
    </div>
    <div class="col-3"></div>
</div>

<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <table class="table table-striped ">
                <thead>
                <tr>
                    <th scope="col" style="font-size: 14px">Dados da Cidade</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" style="font-size: 14px">Cidade</th>
                    <td style="font-size: 14px">{{nome}}</td>
                </tr>
                <tr>
                    <th scope="row" style="font-size: 14px">Estado</th>
                    <td style="font-size: 14px">{{estado}}</td>
                </tr>
                </tbody>
            </table>
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <table class="table table-striped ">
            <thead>
            <tr>
                <th scope="col" style="font-size: 14px">Dados Climáticos</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" style="font-size: 14px">Temp. Máxima</th>
                <td style="font-size: 14px">{{temp_max}}</td>
            </tr>
            <tr>
                <th scope="row" style="font-size: 14px">Temp. Mínima</th>
                <td style="font-size: 14px">{{temp_min}}</td>
            </tr>
            <tr>
                <th scope="row" style="font-size: 14px">Sens. Térmica</th>
                <td style="font-size: 14px">{{sensacao}}</td>
            </tr>
            <tr>
                <th scope="row" style="font-size: 14px">Condição</th>
                <td style="font-size: 14px">{{condicao}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-1"></div>
</div>
</div>
{% endblock conteudo %}